{% extends 'base.html' %} 
{% load static %}


{% block content %}


  <body data-mobile-nav-style="classic" class="custom-cursor">
    <section
    class="top-space-margin page-title-big-typography cover-background overflow-hidden position-relative p-0 lg-no-border-radius"
    style="background-image: url({% static 'geral/images/demo-medical-doctors-title-bg.jpg)' %}">
    <div class="container">
      <div class="row small-screen">
        <div
          class="col-xl-5 col-lg-6 col-md-7 position-relative page-title-extra-large align-self-center"
          data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
        >
     
        <h1 class="text-dark-gray fw-800 ls-minus-3px sm-ls-minus-1px d-block mb-0">
          Melhor parceiro de saúde. 
          <span class="d-inline-block bg-golden-yellow text-white border-radius-3px ps-10px pe-10px fs-13 ls-minus-1px lh-28 me-10px md-me-5px sm-me-10px align-middle align-bottom-right">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </span>
        </h1>       
            

          
        </div>
        <div
          class="col-xl-7 col-lg-6 col-md-5 position-relative d-none d-md-block"
        >
          <div
            class="w-85px h-85px border-radius-100 d-flex align-items-center justify-content-center position-absolute left-100px lg-left-minus-20px md-left-minus-30px top-100px lg-top-140px md-top-100px mt-4 translate-middle-y"
          ></div>
        </div>
      </div>
    </div>
  </section>
    

    


    <section class="overflow-hidden">
      <div class="container">
        <div class="row justify-content-center align-items-center mb-9 sm-mb-45px">
          <div
            class="col-xxl-5 col-lg-6 md-mb-50px"
            data-anime='{ "el": "childs", "translateX": [-50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
          >
            
            <h3 class="fw-700 text-dark-gray ls-minus-1px mb-50px sm-mb-35px">
              Precisa de ajuda?</br> Fale conosco!
            </h3>

            <div class="icon-with-text-style-01 mb-10 md-mb-35px">
              <div
                class="feature-box feature-box-left-icon last-paragraph-no-margin"
              >
                <div class="feature-box-icon me-25px">
                  <img
                    src="images/demo-marketing-contact-04.jpg"
                    class="h-80px"
                    alt
                  />
                </div>
                <div class="feature-box-content last-paragraph-no-margin">
                  <span
                    class="d-block text-dark-gray fw-600 fs-18 ls-minus-05px mb-5px"
                    >Pronto para um café?</span
                  >
                  <p class="w-60 md-w-100">
                    401 Broadway, 24th Floor, Orchard View, London
                  </p>
                </div>
              </div>
            </div>

            <div class="icon-with-text-style-01 mb-10 md-mb-35px">
              <div
                class="feature-box feature-box-left-icon last-paragraph-no-margin"
              >
                <div class="feature-box-icon me-25px">
                  <img
                    src="images/demo-marketing-contact-02.jpg"
                    class="h-80px"
                    alt
                  />
                </div>
                <div class="feature-box-content">
                  <span
                    class="d-block text-dark-gray fw-600 fs-18 ls-minus-05px mb-5px"
                    >Prefere ligar?</span
                  >
                  <div class="w-100 d-block">
                    <span class="d-block"
                      >Phone: <a href="tel:1800222000">(99)2222-0000</a></span
                    >
                    {% comment %} <span class="d-block">Fax: 1-800-222-002</span> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>

            <div class="icon-with-text-style-01">
              <div
                class="feature-box feature-box-left-icon last-paragraph-no-margin"
              >
                <div class="feature-box-icon me-25px">
                  <img
                    src="images/demo-marketing-contact-03.jpg"
                    class="h-80px"
                    alt
                  />
                </div>
                {% comment %} <div class="feature-box-content">
                  <span
                    class="d-block text-dark-gray fw-600 fs-18 ls-minus-05px mb-5px"
                    >How can we help you?</span
                  >
                  <div class="w-100 d-block">
                    <a
                      href="/cdn-cgi/l/email-protection#7a13141c153a03150f081e15171b131454191517"
                      ><span
                        class="__cf_email__"
                        data-cfemail="1d74737b725d6472686f7972707c7473337e7270"
                        >[email&#160;protected]</span
                      ></a
                    ><br /><a
                      href="/cdn-cgi/l/email-protection#7018151c0030091f0502141f1d11191e5e131f1d"
                      ><span
                        class="__cf_email__"
                        data-cfemail="2a424f465a6a53455f584e45474b434404494547"
                        >[email&#160;protected]</span
                      ></a
                    >
                  </div>
                </div> {% endcomment %}
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 offset-xxl-1"
            data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
          >
            <div
              class="contact-form-style-03 position-relative border-radius-10px bg-white p-14 lg-p-10 box-shadow-double-large overflow-hidden last-paragraph-no-margin"
            >
              <h2
                class="fw-700 text-dark-gray mb-30px sm-mb-20px fancy-text-style-4 ls-minus-2px"
              >
                Diga
                <span
                  data-fancy-text='{ "effect": "rotate", "string": ["olá!", "hello!", "salve!"] }'
                ></span>
              </h2>
              <form action="{% url 'contato' %}" method="post">
                {% csrf_token %}
                
                {% comment %} {{ form.as_p }} {% endcomment %}
                <div class="position-relative form-group mb-20px">
                  <span class="form-icon text-dark-gray"
                    ><i class="bi bi-person icon-extra-medium"></i
                  ></span>
                  <input
                    class="ps-0 border-radius-0px medium-gray bg-transparent border-color-extra-medium-gray form-control required"
                    type="text"
                    id="nome"
                    name="nome"
                    placeholder="Enter your name*"
                  />
                  
                </div>
                <div class="position-relative form-group mb-20px">
                  <span class="form-icon text-dark-gray"
                    ><i class="bi bi-envelope icon-extra-medium"></i
                  ></span>
                  <input
                    class="ps-0 border-radius-0px medium-gray bg-transparent border-color-extra-medium-gray form-control required"
                    type="email"
                    name="email" 
                    id ="email"
                    placeholder="Enter your email*"
                  />
                </div>
                <div
                  class="position-relative z-index-1 form-group form-textarea mt-15px mb-0"
                >
                  <textarea
                    class="ps-0 border-radius-0px medium-gray bg-transparent border-color-extra-medium-gray form-control required"
                    name="mensagem" 
                    id="mensagem"
                    placeholder="Enter your message"
                    rows="3"
                  ></textarea>
                  <span class="form-icon text-dark-gray"
                    ><i class="bi bi-chat-square-dots icon-extra-medium"></i
                  ></span>
                  <input type="hidden" name="redirect" value />
                  <button
                    class="btn btn-large btn-dark-gray btn-round-edge btn-box-shadow mb-20px mt-25px submit w-100"
                    type="submit"
                  >
                    Enviar mensagem
                  </button>
                  <div class="form-results mt-20px d-none"></div>
                </div>
              </form>


              {% comment %} <form method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <div class="form-group">
                  <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Save
                  </button>
                  <a href="{% url 'doctor_list' %}" class="btn btn-default">Cancel</a>
                </div>
              </form> {% endcomment %}


              <div
                class="position-absolute bottom-0px right-minus-30px fs-350 lh-100 fw-900 text-base-color"
              >
                &lt;
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </section>

    <script
      data-cfasync="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script type="text/javascript" src="{% static 'geral/js/jquery.js' %}"></script>
    <script type="text/javascript"src="{% static 'geral/js/vendors.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'geral/js/main.js' %}"></script>
  </body>

{% endblock %}
