<section class="py-0 pt-40px">
  <div class="container">
    <div
      class="row pb-50px sm-pb-35px justify-content-center align-items-center"
    >
      <div
        class="col-xl-3 col-lg-4 col-sm-6 order-1 text-center text-sm-start xs-mb-20px"
      >
        <span class="fs-19 mb-5px d-block">Fale conosco</span>
        <h6 class="fw-700 mb-0 ls-minus-1px">
          <span class="text-dark-gray">(99)2222-0000</span>
        </h6>
      </div>
      <div
        class="col-xl-6 col-lg-4 md-mt-25px order-3 order-lg-2 text-center elements-social social-icon-style-02"
      >
        <ul class="large-icon dark icon-with-animation">
          <li>
            <a class="facebook" href="https://www.facebook.com/" target="_blank"
              ><i class="fa-brands fa-facebook-f"></i><span></span
            ></a>
          </li>
          <li>
            <a class="dribbble" href="http://www.dribbble.com" target="_blank"
              ><i class="fa-brands fa-dribbble"></i><span></span
            ></a>
          </li>
          <li>
            <a class="twitter" href="https://www.twitter.com" target="_blank"
              ><i class="fa-brands fa-twitter"></i><span></span
            ></a>
          </li>
          <li>
            <a
              class="instagram"
              href="https://www.instagram.com"
              target="_blank"
              ><i class="fa-brands fa-instagram"></i><span></span
            ></a>
          </li>
          <li>
            <a class="linkedin" href="http://www.linkedin.com" target="_blank"
              ><i class="fa-brands fa-linkedin-in"></i><span></span
            ></a>
          </li>
        </ul>
      </div>

      
    </div>
  </div>
</section>
